*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
	background-color: hsl(30, 38%, 92%);
}

.container {
	width: 375px;
	background-color: hsl(0, 0%, 100%);
	border-radius: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	overflow: hidden;

}

img {
	width: 100%;
}

h1 {
    font-size: 2.0em;
    font-family: 'Fraunces', serif;
    margin-top: 10px;
}

h2 {
    font-size: 0.8em;
	color: hsl(228, 12%, 48%);
	font-family: 'Montserrat', sans-serif;
    margin-top: 10px;
    font-weight: 400;
    letter-spacing: 8px;
}

.precio-actual {
    font-size: 2.5em;
	color: hsl(158, 36%, 37%);
	font-family: 'Fraunces', serif;
    margin-bottom: 20px;
}

.precio-antiguo {
    font-size: 0.3em;
	color: hsl(228, 12%, 48%);
	font-family: 'Montserrat', sans-serif;
    text-decoration: line-through;
    padding: 20px;
}

.button {
    background-color: hsl(158, 36%, 37%);
    color: white;
    font-size: 1.1em;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    font-family: 'Montserrat', sans-serif;

}

.button:hover {
    background-color: #218838; /* Color más oscuro cuando se pasa el cursor */
}

.parrafo {
    font-family: 'Montserrat', sans-serif;
    font-size: 0.8em;
    color: hsl(228, 12%, 48%);
    line-height: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.info {
    padding: 20px;
}